body {
    background-image: url("https://i.pinimg.com/736x/f7/04/f2/f704f24d2e8f340035a8695ff286872f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
}