@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delayed-appear {
    opacity: 0;
    animation: fade-in 0.4s ease-in-out forwards;
    animation-delay: .3s;
}

/* Style to make content scrollable */
.content-container {
    overflow-y: auto;
}

@media (max-width: 728px) {
    .sidebar {
        display: none;
        transition: transform 0.4s ease;
    }

    .sidebar.active {
        display: block;
    }

    .sidebar-toggle {
        display: block;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        display: block;
        transition: transform 0.4s ease;
    } .sidebar-toggle {
        display: none;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
